*
{
box-sizing:border-box;
}
.div1
{
background-color:gray;
margin:0 auto;
padding:10px;
overflow:hidden;
display:block;
}
li.n1
{
list-style:none;
padding:0px;
display:inline;
background-color:white;
}
li.n2
{
list-style:none;
margin-left:5%;
padding:0px;
margin-top:-18px;
display:inline;
color:white;
}
li.n3
{
list-style:none;
padding:0px;
margin-top:-24px;
margin-left:5%;
display:inline;
color:white;
}
li.n4
{
padding:0px;
list-style:none;
display:inline;
margin-left:5%;
color:white;
}
li.n5
{
padding:0px;
list-style:none;
display:inline;
margin-left:5%;
color:white;
}
h1
{
text-align:center;
color:black;
font-family:Arial;
}
.div2
{
display:inline;
width:100%;
align:center;
}
.c1
{
width:900px;
}
.div31
{
width:40%;
float:left;
margin-left:33px;
}
.div32
{
width:40%;
margin-right:40px;
margin-left:97px;
float:left;
}
.div33
{
width:40%;
margin-left:105%;
margin-right:30px;
margin-top:-500px;
float:left;
}
.div31 p,.div32 p,.div33 p{
background-color:DarkOliveGreen;
font-size:20px;
color:white;
}
.div31 h3,.div32 h3,.div33 h3
{
background-color:YellowGreen;
}
.c2
{
width:900px;
}
.divlast1
{
width:40%;
float:left;
margin-left:33px;
}
.divlast2
{
width:40%;
margin-right:40px;
margin-left:97px;
float:left;
}
.divlast3
{
width:40%;
margin-left:105%;
margin-right:70px;
margin-top:-330px;
float:left;
}
.divlast1 p,.divlast2 p,.divlast3 p{
font-size:20px;
}
.divlast2 h4,.divlast3 h4
{
padding-left:1px;
background-color:black;
color:white;
}
.con1
{
width:900px;
}
.divv1 h2
{
background-color:YellowGreen;
float:left;
width:4%;
height:9%;
margin-left:33px;
}
.divv2 h2
{
background-color:YellowGreen;
float:left;
width:4%;
height:9%;
margin-left:90%;
margin-top:-72px;
}
.divv1 h3
{
background-color:DarkOliveGreen;
float:left;
width:50%;
margin-left:5pxpx;
}
.divv1 p
{
background-color:DarkOliveGreen;
float:left;
width:50%;
margin-left:-50%;
margin-top:41px;
}
.divv2 h3
{
background-color:DarkOliveGreen;
float:left;
width:50%;
margin-left:94%;
margin-top:-75px;
}
.divv2 p
{
background-color:DarkOliveGreen;
float:left;
width:50%;
margin-left:94%;
margin-top:-53px;
}
.c3
{
width:900px;
}
.divv2 h4
{
float:left;
margin-left:63%;
}

